h2 {
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

h3 {
    font-family: sans-serif;
}

strong {
    font-weight: 700;
    background-color: yellow;
}

p {
    font-family: sans-serif;
}

.wrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "sc sc sc   hd   hd   hd   hd   as   as   as  "
        "sc sc sc   cr   cr   cr   cr   as   as   as  "
        "sc sc sc   rh   rh   rh   rh   chat chat chat"
        "sc sc sc   ke   ke   ke   ke   chat chat chat"
        "sc sc sc   bu   bu   bu   bu   chat chat chat"
}

scorecard {
    grid-area: sc;
}

.user-scorecard {
    background-color: #F4A62D;
    float: left;
    width: 50%;
    height: 100%;
}
.active-scorecard {
    background-color: #F7C830;
    float: right;
    width: 50%;
    height: 100%;
}
.current-roll {
    background-color: #F4A62D;
    grid-area: cr;
    margin: 10px;
}
.roll-history {
    background-color: #F7C830;
    grid-area: rh;
    margin: 10px;
}
.keepers {
    background-color: #F4A62D;
    grid-area: ke;
    margin: 10px;
}
.buttons {
    background-color: #000000;
    grid-area: bu;
    margin: 10px;
}
.all-scores {
    background-color: #EA4235;
    grid-area: as;
    margin-bottom: 5px;
    margin-right: 5px;
}
.chat {
    background-color: #FFFFFF;
    grid-area: chat;
    margin-top: 5px;
    margin-right: 5px;
}

body {
    background-color: #DC2A28;
}

header {
    grid-area: hd;
}

#banner {
    height: 100%;
    width: 100%;
}

#bannerImg {
    background: url(../images/banner.png) no-repeat center;
    background-size: contain;
    height: 100%;
    width: 100%;
}

main {
    background-color: #ED7D31;
    grid-area: main;
}

fieldset {
    text-align: center;
}

#diceImg1 {
    background-image: url(../images/dice1.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: 5px;
}

#diceImg2 {
    background-image: url(../images/dice2.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: 5px;
}

#diceImg3 {
    background-image: url(../images/dice3.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: 5px;
}

#diceImg4 {
    background-image: url(../images/dice4.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: 5px;
}

#diceImg5 {
    background-image: url(../images/dice5.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: 5px;
}

#diceImg6 {
    background-image: url(../images/dice6.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: 5px;
}

#rollDice {
    float: left;
}
#setKeepers {
    float: right;
}

.column {
    float: left;
    width: 17%;
    padding: 5px;
}

/* Chat Dialog window style */
#dialogue-page {
	position: relative;
	height: 100%;
}

.dialogue-container {
	background-color: green;
	margin: 10px 0;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
	margin-top: 30px;
	height: calc(100% - 60px);
	max-height: 600px;
	position: relative;
}

#dialogue-page ul {
	list-style-type: none;
	background-color: #FFF;
	margin: 0;
	overflow: auto;
	overflow-y: scroll;
	padding: 0 20px 0px 20px;
	height: calc(100% - 150px);
}

#dialogue-page #dialogueForm {
	padding: 10px;
}

#dialogue-page ul li {
	line-height: 1.5rem;
	padding: 10px 20px;
	margin: 0;
	border-bottom: 1px solid #f4f4f4;
}

#dialogue-page ul li p {
	margin: 0;
}

#dialogue-page .event-data {
	width: 100%;
	text-align: center;
	clear: both;
}

#dialogue-page .event-data p {
	color: #777;
	font-size: 14px;
	word-wrap: break-word;
}

#dialogue-page .message-data {
padding-left: 68px;
position: relative;
}

#dialogue-page .message-data i {
	position: absolute;
	width: 42px;
	height: 42px;
	overflow: hidden;
	left: 10px;
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	line-height: 42px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-style: normal;
	text-transform: uppercase;
}

#dialogue-page .message-data span {
	color: #333;
	font-weight: 600;
}

#dialogue-page .message-data p {
	color: #43464b;
}

#dialogueForm .input-group input {
	border: 0;
	padding: 10px;
	background: whitesmoke;
	float: left;
	width: calc(100% - 85px);
}

#dialogueForm .input-group button {
	float: left;
	width: 80px;
	height: 38px;
	margin-left: 5px;
}

.dialogue-header {
	text-align: center;
	padding: 15px;
	border-bottom: 1px solid #ececec;
}

.dialogue-header h2 {
	margin: 0;
	font-weight: 500;
}

@media screen and (max-width: 730px) {
	.dialogue-container {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	}
}