h3,
h4{
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    background-color: #DC2A28;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

header {
    grid-area: hd;
}

button {
    display: inline-block;
    border: none;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    background: #DC2A28;
    color: #F7C830;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
button:hover,
button:focus {
    background: #EA4235;
}
button:hover,
button:focus {
    background: #F4A62D;
}
button:disabled {
    background: #ED7D31;
}

strong {
    font-weight: 700;
    background-color: yellow;
}

.wrapper {
    display: grid;
    width: 95vw;
    height: 95vh;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "sc sc sc hd   hd   hd   hd   as   as   as  "
        "sc sc sc cr   cr   cr   cr   as   as   as  "
        "sc sc sc rh   rh   rh   rh   chat chat chat"
        "sc sc sc rh   rh   rh   rh   chat chat chat"
        "sc sc sc ke   ke   ke   ke   chat chat chat"
}

scorecard {
    grid-area: sc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #F7C830;
}
#you {
    width: 54px;
    text-align: center;
    float: right;
    font-weight: bold;
    border-left: 3px solid #FF0000;
    height: 43px;
}
#activePlayer {
    width: 55px;
    height: 43px;
    float: right;
    text-align: center;
    font-weight: bold;
    border-left: 3px solid #FF0000;
}
#title > .scoreLabel {
    font-weight: bold;
}

.current-roll {
    background-color: #F4A62D;
    grid-area: cr;
    margin: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}
.roll-history {
    background-color: #F7C830;
    grid-area: rh;
    margin: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.keepers {
    background-color: #F4A62D;
    grid-area: ke;
    margin: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}

#rollKeeperButton {
    width: calc(50% - 10px);
    float: left;
    padding-top: 5px;
    padding-left: 10px;
}

.all-scores {
    background-color: #EA4235;
    grid-area: as;
    margin-bottom: 5px;
    margin-right: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.chat {
    background-color: #FFFFFF;
    grid-area: chat;
    margin-top: 5px;
    margin-right: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#banner {
    height: calc(100% - 40px);
    width: 100%;
}

#bannerImg {
    background: url(../images/banner.png) no-repeat center;
    background-size: contain;
    height: 100%;
    width: 100%;
}

#user-banner {
    height: 30px;
    margin: 10px;
    background: #F7C830;
    color: #DC2A28;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#isActivePlayer {
    float: left;
    width: calc(33% - 5px);
    margin: 5px;
}
#stopRollingDiv,
#finishTurnDiv,
#leaveGameDiv {
    float: left;
    width: calc(33% - 7px);
    margin: 3px;
    text-align: center;
}

main {
    background-color: #ED7D31;
    grid-area: main;
}

fieldset {
    text-align: center;
    border: 0;
}

#diceImg1 {
    background-image: url(../images/dice1.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: 5px;
}
#diceImg2 {
    background-image: url(../images/dice2.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: 5px;
}
#diceImg3 {
    background-image: url(../images/dice3.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: 5px;
}
#diceImg4 {
    background-image: url(../images/dice4.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: 5px;
}
#diceImg5 {
    background-image: url(../images/dice5.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: 5px;
}
#diceImg6 {
    background-image: url(../images/dice6.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: 5px;
}

#diceSmallImg1 {
    background-image: url(../images/dice1.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: 5px;
}
#diceSmallImg2 {
    background-image: url(../images/dice2.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: 5px;
}
#diceSmallImg3 {
    background-image: url(../images/dice3.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: 5px;
}
#diceSmallImg4 {
    background-image: url(../images/dice4.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: 5px;
}
#diceSmallImg5 {
    background-image: url(../images/dice5.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: 5px;
}
#diceSmallImg6 {
    background-image: url(../images/dice6.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: 5px;
}
#rollButtons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
#rollDiceDiv,
#rollKeepersDiv,
#setKeepersDiv {
    float: left;
    width: 32%;
    align-content: center;
    text-align:center;
}
#scorecardTitle {
    height: 40px;
    border: 3px solid #FF0000;
}

.column {
    float: left;
    width: 20%;
}

.currentScore {
    font-style: normal;
    float: left;
    width: 54px;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    border-left: 3px solid #FF0000;
}

.scoreLabel {
	font-style: normal;
    float: left;
    text-align: left;
    width: calc(100% - 120px);
    padding-left: 5px;
}

.scoreLabel label  {
    font-style: normal;
}

.scoreValue {
	font-style: normal;
    float: right;
    width: 20px;
    margin-top: 5px;
    text-align: center;
}

.scoreCheckboxes {
    float: left;
    width: 0;
}

.scoreValueEnabled > label {
    background-color: #EA4235;
    border-radius: 50%;
}

.scoreValueEnabled input[type="radio"] {
    display: block;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.scoreValueEnabled input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
    background-color: #F7C830;
}

.scoreValueEnabled input[type="radio"]:checked+label,
.Checked+label {
    background-color: #F4A62D;
    outline-color: #ED7D31;
    border-radius: 50%;
}

.scoreValueEnabled input[type="radio"]:hover+label,
.hover+label {
    background-color: #F4A62D;
    border-radius: 50%;
}

.scoreValueDisabled,
.scoreValueDisabled:hover {
    background-color: #F7C830;
}

.scoreDiv {
    float: right;
    width: 40px;
    margin-right: 15px;
    height: 30px;
    border-left: 3px solid #FF0000;
}

.scoreContainer {
    border-bottom: 3px solid #FF0000;
    border-left: 3px solid #FF0000;
    border-right: 3px solid #FF0000;
    height: 30px;
}

.rollSet {
    padding-top: 10px;
    margin-top: -45px;
    width: calc(100% - 20px);
    float: right;
}

.rollLabel {
    height: 20px;
    margin-left: -7px;
    margin-top: 35px;
    float: left;
    transform: rotate(270deg);
}

/* Chat Dialog window style */
#dialogue-page {
	position: relative;
	height: 100%;
}

.dialogue-container {
	background-color: green;
	margin: 10px 0;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
	margin-top: 30px;
	height: calc(100% - 60px);
	max-height: 600px;
	position: relative;
}

#dialogue-page ul {
	list-style-type: none;
	background-color: #FFF;
	margin: 0;
	overflow: auto;
	overflow-y: scroll;
	padding: 0 20px 0 20px;
	height: calc(100% - 80px);
}

#dialogue-page #dialogueForm {
	padding: 10px;
}

#dialogue-page ul li {
	line-height: 1.5rem;
	padding: 10px 20px;
	margin: 0;
	border-bottom: 1px solid #f4f4f4;
}

#dialogue-page ul li p {
	margin: 0;
}

#dialogue-page .event-data {
	width: 100%;
	text-align: center;
	clear: both;
}

#dialogue-page .event-data p {
	color: #777;
	font-size: 14px;
	word-wrap: break-word;
}

#dialogue-page .message-data {
padding-left: 68px;
position: relative;
}

#dialogue-page .message-data i {
	position: absolute;
	width: 42px;
	height: 42px;
	overflow: hidden;
	left: 10px;
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	line-height: 42px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-style: normal;
	text-transform: uppercase;
}

#dialogue-page .message-data span {
	color: #333;
	font-weight: 600;
}

#dialogue-page .message-data p {
	color: #43464b;
}

#dialogueForm .input-group input {
	border: 0;
	padding: 10px;
	background: whitesmoke;
	float: left;
	width: calc(100% - 120px);
}

#dialogueForm .input-group button {
	float: left;
	width: 80px;
	height: 35px;
	margin-left: 5px;
    margin-top: 0;
    padding: 0;
}

.dialogue-header {
	text-align: center;
	padding: 15px;
	border-bottom: 1px solid #ececec;
}

.dialogue-header h2 {
	margin: 0;
	font-weight: 500;
}

@media screen and (max-width: 730px) {
	.dialogue-container {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	}
}