h3,
h4{
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    background-color: #DC2A28;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

@media screen and (min-height: 821px){
    html  {
        font-size: 1rem;
    }
    button  {
        font-size: 1rem;
    }
}
@media screen and (max-height: 820px) and (min-height: 781px){
    html  {
        font-size: .9rem;
    }
    button  {
        font-size: .9rem;
    }
}
@media screen and (max-height: 780px){
    html  {
        font-size: .8rem;
    }
    button  {
        font-size: .8rem;
    }
}

header {
    grid-area: hd;
}

button {
    display: inline-block;
    border: none;
    padding: .25rem;
    margin: .25rem;
    text-decoration: none;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    background: #DC2A28;
    color: #F7C830;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
button:hover,
button:focus {
    background: #EA4235;
}
button:hover,
button:focus {
    background: #F4A62D;
}
button:disabled {
    background: #ED7D31;
}

strong {
    font-weight: 700;
    background-color: yellow;
}

.wrapper {
    display: grid;
    width: 95vw;
    height: 95vh;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "sc sc sc hd   hd   hd   hd   as   as   as  "
        "sc sc sc cr   cr   cr   cr   as   as   as  "
        "sc sc sc rh   rh   rh   rh   chat chat chat"
        "sc sc sc rh   rh   rh   rh   chat chat chat"
        "sc sc sc ke   ke   ke   ke   chat chat chat"
}

scorecard {
    grid-area: sc;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
    background-color: #F7C830;
}
#you {
    width: 3.375rem;
    text-align: center;
    float: right;
    font-weight: bold;
    border-left: .125rem solid #FF0000;
    height: 100%;
}
#activePlayer {
    width: 3.438rem;
    height: 2.688rem;
    float: right;
    text-align: center;
    font-weight: bold;
    border-left: .125rem solid #FF0000;
}
#title > .scoreLabel {
    font-weight: bold;
}

.current-roll {
    background-color: #F4A62D;
    grid-area: cr;
    margin: .5rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
    position: relative;
}
.roll-history {
    background-color: #F7C830;
    grid-area: rh;
    margin: .5rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
}
.keepers {
    background-color: #F4A62D;
    grid-area: ke;
    margin: .5rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
    position: relative;
}

#rollKeeperButton {
    width: calc(50% - .5rem);
    float: left;
    padding-top: .25rem;
    padding-left: .5rem;
}

.all-scores {
    background-color: #EA4235;
    grid-area: as;
    margin-bottom: .25rem;
    margin-right: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
}
.chat {
    background-color: #FFFFFF;
    grid-area: chat;
    margin-top: .25rem;
    margin-right: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
}

#banner {
    height: calc(100% - 2.5rem);
    width: 100%;
}

#bannerImg {
    background: url(../images/banner.png) no-repeat center;
    background-size: contain;
    height: 100%;
    width: 100%;
}

#user-banner {
    height: 1.875rem;
    margin: .5rem;
    background: #F7C830;
    color: #DC2A28;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
}
#isActivePlayer {
    float: left;
    width: calc(50% - .25rem);
    margin: .25rem;
}
#stopRollingDiv,
#finishTurnDiv,
#leaveGameDiv {
    float: left;
    width: calc(50% - 0.25rem);
    margin: .125rem;
    text-align: center;
}

#buttonDiv {
    float: right;
    width: calc(50% - 0.5rem);
    text-align: center;
}

main {
    background-color: #ED7D31;
    grid-area: main;
}

fieldset {
    text-align: center;
    border: 0;
}

#diceImg1 {
    background-image: url(../images/dice1.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: .25rem;
}
#diceImg2 {
    background-image: url(../images/dice2.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: .25rem;
}
#diceImg3 {
    background-image: url(../images/dice3.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: .25rem;
}
#diceImg4 {
    background-image: url(../images/dice4.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: .25rem;
}
#diceImg5 {
    background-image: url(../images/dice5.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: .25rem;
}
#diceImg6 {
    background-image: url(../images/dice6.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: .25rem;
}

#diceSmallImg1 {
    background-image: url(../images/dice1.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: .25rem;
}
#diceSmallImg2 {
    background-image: url(../images/dice2.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: .25rem;
}
#diceSmallImg3 {
    background-image: url(../images/dice3.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: .25rem;
}
#diceSmallImg4 {
    background-image: url(../images/dice4.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: .25rem;
}
#diceSmallImg5 {
    background-image: url(../images/dice5.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: .25rem;
}
#diceSmallImg6 {
    background-image: url(../images/dice6.png);
    background-size: 50px;
    background-repeat: no-repeat;
    display:inline;
    background-color: #FFFFFF;
    border-radius: .25rem;
}
#rollButtons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
#rollDiceDiv,
#rollKeepersDiv,
#setKeepersDiv {
    float: left;
    width: 32%;
    align-content: center;
    text-align:center;
}
#scorecardTitle {
    height: 2.5rem;
    border: .125rem solid #FF0000;
}

.column {
    float: left;
    width: 20%;
}

.scoreContainer .currentScore {
    font-style: normal;
    float: left;
    width: 3.375rem;
    height: 100%;
    text-align: center;
    border-left: .125rem solid #FF0000;
}

.scoreLabel {
	font-style: normal;
    float: left;
    text-align: left;
    width: calc(100% - 7.5rem);
    padding-left: .25rem;
}

.scoreLabel label  {
    font-style: normal;
}

.scoreValue {
	font-style: normal;
    float: right;
    width: 1.25rem;
    text-align: center;
}

.scoreCheckboxes {
    float: left;
    width: 0;
}

.scoreValueEnabled > label {
    background-color: #EA4235;
    border-radius: 50%;
}

.scoreValueEnabled input[type="radio"] {
    display: block;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.scoreValueEnabled input[type="radio"] {
    opacity: 0.01;
    z-index: 50;
    background-color: #F7C830;
}

.scoreValueEnabled input[type="radio"]:checked+label,
.Checked+label {
    background-color: #F4A62D;
    outline-color: #ED7D31;
    border-radius: 50%;
}

.scoreValueEnabled input[type="radio"]:hover+label,
.hover+label {
    background-color: #F4A62D;
    border-radius: 50%;
}

.scoreValueDisabled,
.scoreValueDisabled:hover {
    background-color: #F7C830;
}

.scoreDiv {
    float: right;
    width: 2.5rem;
    margin-right: 0.938rem;
    height: 100%;
    border-left: .125rem solid #FF0000;
}

.scoreContainer {
    border-bottom: .125rem solid #FF0000;
    border-left: .125rem solid #FF0000;
    border-right: .125rem solid #FF0000;
    height: 1.875rem;
}

.rollSet {
    padding-top: .5rem;
    margin-top: -2.813rem;
    width: calc(100% - 1.25rem);
    float: right;
}

.rollLabel {
    height: 1.25rem;
    margin-left: -0.438rem;
    margin-top: 2.188rem;
    float: left;
    transform: rotate(270deg);
}

/* Welcome Page Style*/
#welcome-page {
	text-align: center;
}

.welcome-page-container {
	background-color: #F7C830;
	width: 100%;
	max-width: 31.25rem;
	display: inline-block;
	margin-top: 2.625rem;
	vertical-align: middle;
	position: relative;
	padding: 2.188rem 3.438rem 2.188rem;
	min-height: 15.625rem;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-top: -10rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    border-radius: .5rem;
}

.hidden {
	display: none;
}

.playerListScorecardTemplate {
    display: none;
    position: absolute;
    z-index: 99 !important;
    margin-left: -13rem;
    width: 15rem;
}

.allScoreList th, td {
    border: 0.25rem solid #DC2A28;
    padding: 0.25rem;
    text-align: center;
    background: #F4A62D;
}
.allScoreList {
    width: calc(100% - 1rem);
    margin: .5rem;
}
.player {
    width: 70%;
    text-align: center;
}
.score {
    width: 30%;
    text-align: center;
}
.trigger {
    height: 1.25rem;
    padding: 0;
    width: 2rem;
    margin: 0;
    border-radius: 1rem;
}

td.scoreLabel,
th.scoreLabel {
    width: 11rem;
    text-align: left;
    background: #F7C830;
    padding: 0;
    border: 0.125rem solid #DC2A28;
}
td.currentScore,
th.currentScore {
    text-align: center;
    background: #F7C830;
    padding: 0;
    border: 0.125rem solid #DC2A28;
}

/* Chat Dialog window style */
#dialogue-page {
	position: relative;
	height: 100%;
}

.dialogue-container {
	background-color: green;
	margin: .5rem 0;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
	margin-top: 1.875rem;
	height: calc(100% - 60px);
	max-height: 600px;
	position: relative;
}

#dialogue-page ul {
	list-style-type: none;
	background-color: #FFF;
	margin: 0;
	overflow: auto;
	overflow-y: scroll;
	padding: 0 1.25rem 0 1.25rem;
	height: calc(100% - 80px);
}

#dialogue-page #dialogueForm {
	padding: .5rem;
}

#dialogue-page ul li {
	line-height: 1.5rem;
	padding: .5rem 1.25rem;
	margin: 0;
	border-bottom: 1px solid #f4f4f4;
}

#dialogue-page ul li p {
	margin: 0;
}

#dialogue-page .event-data {
	width: 100%;
	text-align: center;
	clear: both;
}

#dialogue-page .event-data p {
	color: #777;
	font-size: 14px;
	word-wrap: break-word;
}

#dialogue-page .message-data {
padding-left: 68px;
position: relative;
}

#dialogue-page .message-data i {
	position: absolute;
	width: 42px;
	height: 42px;
	overflow: hidden;
	left: .5rem;
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	line-height: 42px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-style: normal;
	text-transform: uppercase;
}

#dialogue-page .message-data span {
	color: #333;
	font-weight: 600;
}

#dialogue-page .message-data p {
	color: #43464b;
}

#dialogueForm .input-group input {
	border: 0;
	padding: .5rem;
	background: whitesmoke;
	float: left;
	width: calc(100% - 120px);
}

#dialogueForm .input-group button {
	float: left;
	width: 80px;
	height: 35px;
	margin-left: .25rem;
    margin-top: 0;
    padding: 0;
}

.dialogue-header {
	text-align: center;
	padding: 15px;
	border-bottom: 1px solid #ececec;
}

.dialogue-header h2 {
	margin: 0;
	font-weight: 500;
}

@media screen and (max-width: 730px) {
	.dialogue-container {
	margin-left: .5rem;
	margin-right: .5rem;
	margin-top: .5rem;
	}
}