<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Yahtzee++</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <div class="wrapper">
        <scorecard>
            <div class="user-scorecard">
                <p>
                    Your Scorecard
                </p>
<!--                <form th:action="@{/submitScorecard}" method="post">-->
<!--                    <input type="submit" value="Submit Score" />-->
<!--                </form>-->
            </div>
            <div class="active-scorecard">
                <p>Active Scorecard</p>
            </div>
        </scorecard>

        <header >SCEEM logo</header>
        <div class="current-roll">
            <h2>Current Roll Display:</h2>
            <p th:text="${dice_0} + ' ' + ${dice_1} + ' ' + ${dice_2} + ' ' + ${dice_3} + ' ' + ${dice_4}" />
            <form th:action="@{/turn/roll}" method="post">
                <input type="submit" value="Roll"/>
            </form>
        </div>
        <div class="roll-history">
            Roll History Display
        </div>
        <div class="keepers">
            Keepers
<!--            <form th:action="@{/lockKeepers}"><input type="submit" value="Lock Keepers"/></form>-->
        </div>

        <div class="buttons">
            <form th:action="@{/finishTurn}" method="post">
                <input type="submit" value="Finish Turn"/>
            </form>
        </div>
        <div class="all-scores">
            All Scores Table
        </div>

        <div class="chat">
            Chat
        </div>
    </div>
</body>
</html>