<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Yahtzee++</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/css/main.css}" rel="stylesheet" />
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script th:src="@{/styles/js/app.js}"></script>
</head>
<body onload="connect()">
    <p th:text="'Hello, player number: ' + ${playerId} + '!'" />
    <div class="wrapper">
        <scorecard>
            <div class="user-scorecard">
                <h3>Your Scorecard</h3>
<!--                <form th:action="@{/submitScorecard}" method="post">-->
<!--                    <input type="submit" value="Submit Score" />-->
<!--                </form>-->
            </div>
            <div class="active-scorecard">
                <h3>Active Scorecard</h3>
            </div>
        </scorecard>

        <header >SCEEM logo
<!--            <div>-->
<!--                <form class="form-inline">-->
<!--                    <div class="form-group">-->
<!--                        <button id="connect" class="btn btn-default" type="submit">Join Game</button>-->
<!--                        <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Leave Game-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
        </header>

        <!-- Current Roll section -->
        <div class="current-roll">
            <h2>Current Roll</h2>

            <form>
                <fieldset id="rollSet" class="row">
                    <div id="dice0" class="column" hidden>
                        <input type="checkbox" class="dice" name="dice" value="Dice0">
                    </div>
                    <div id="dice1" class="column" hidden>
                        <input type="checkbox" class="dice" name="dice" value="Dice1">
                    </div>
                    <div id="dice2" class="column" hidden>
                        <input type="checkbox" class="dice" name="dice" value="Dice2">
                    </div>
                    <div id="dice3" class="column" hidden>
                        <input type="checkbox" class="dice" name="dice" value="Dice3">
                    </div>
                    <div id="dice4" class="column" hidden>
                        <input type="checkbox" class="dice" name="dice" value="Dice4">
                    </div>
                    <br>
                    <div>
                        <button id="setKeepers" class="btn btn-default" type="submit">Add Keepers</button>
                    </div>
                </fieldset>
            </form>
            <form>
                <button id="rollDice" class="btn btn-default" type="submit">Roll Dice</button>
            </form>
        </div>

        <!-- Roll History section -->
        <div class="roll-history">
            <h3>Roll History</h3>
        </div>

        <!-- Keepers section -->
        <div class="keepers">
            <h3>Keepers</h3>
            <form>
                <fieldset id="keeperSet" class="row">
                    <div id="keeper0" class="column" hidden>
                    </div>
                    <div id="keeper1" class="column" hidden>
                    </div>
                    <div id="keeper2" class="column" hidden>
                    </div>
                    <div id="keeper3" class="column" hidden>
                    </div>
                    <div id="keeper4" class="column" hidden>
                    </div>
                    <br>
                </fieldset>
            </form>
        </div>

        <div class="buttons">
            <form th:action="@{/turn/finish}" method="post">
                <input type="submit" value="Finish Turn"/>
            </form>
        </div>

        <!-- All Scores -->
        <div class="all-scores">
            <h3>All Scores Table</h3>
            <table>
                <tr>
                    <th th:scope="col">Player X</th>
                    <th th:scope="col">Score</th>
                <tr>
                <tr th:if="${playerList.size() > 0}" >
                    <td style="text-align:center" th:text="'Player 1'"></td>
                    <td style="text-align:center" th:text="${scoreList[0]}"></td>
                </tr>
                <tr th:if="${playerList.size() > 1}" >
                    <td style="text-align:center" th:text="'Player 2'"></td>
                    <td style="text-align:center" th:text="${scoreList[1]}"></td>
                </tr>
                <tr th:if="${playerList.size() > 2}" >
                    <td style="text-align:center" th:text="'Player 3'"></td>
                    <td style="text-align:center" th:text="${scoreList[2]}"></td>
                </tr>
                <tr th:if="${playerList.size() > 3}" >
                    <td style="text-align:center" th:text="'Player 4'"></td>
                    <td style="text-align:center" th:text="${scoreList[3]}"></td>
                </tr>
                <tr th:if="${playerList.size() > 4}" >
                    <td style="text-align:center" th:text="'Player 5'"></td>
                    <td style="text-align:center" th:text="${scoreList[4]}"></td>
                </tr>
                <tr th:if="${playerList.size() > 5}" >
                    <td style="text-align:center" th:text="'Player 6'"></td>
                    <td style="text-align:center" th:text="${scoreList[5]}"></td>
                </tr>
            </table>
        </div>

        <!-- Chat -->
        <div class="chat">
            <h3>Chat</h3>
            <div id="chatDisplay"></div>
            <form>
                <input type="text" id="chatMsg" name="chatMsg" />
                <button id="sendChat" class="btn btn-default" type="submit">Send</button>
            </form>
        </div>
    </div>
</body>
</html>